<div class="chatBox__chat">
  <div class="chatBox__user"><span class="name">알림봇</span> <span class="date">2024.02.21 15:00</span></div>

  <div class="d-flex align-items-start gap-10">
    <div class="userThumb is-bot">
      <div class="userThumb__img"></div>
    </div>

    <div class="chatCard">
      <div class="chatCard__group">
        <div class="card">
          <div class="card__text">
            요청 받은 TO-DO가 있습니다.<br>
            <br>
            - 업무명 : DWP 플랫폼 구축 상위기획서 작성<br>
            - 요청자 : 박민태<br>
            - 업무기간 : ~ 2024.12.27 15:00<br>
          </div>
          <div class="btnGroup gap-5">
            <button type="button" class="btn is-secondary is-small">거절</button>
            <button type="button" class="btn is-primary is-small">수락</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>