<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SchedulerAiMapper">

    <!-- AI API연동 URL정보 조회 -->
    <select id="getAiUrl" parameterType="java.lang.String" resultType="java.lang.String">
        /* CommonAiMapper.getAiUrl */
        SELECT ai_service_url AS aiServiceUrl
          FROM batch.tbl_ai_service
         WHERE ai_service_cd = #{aiServiceCd}
           AND use_flag = 1
    </select>

    <!-- AI연동 실시간 이력 저장 -->
    <insert id="setStartInterfaceInfo" parameterType="com.gsbizple.wiz.scheduler.dto.common.AiRealTimeDto" useGeneratedKeys="true" keyProperty="jobId" keyColumn="JOB_ID">
        /*CommonAiMapper.setStartInterfaceInfo*/
        INSERT INTO batch.tbl_ai_job_batch (ai_service_cd, job_exec_user_key, job_exec_status, job_start_dt, job_result, ai_service_param, create_dt, create_user_key)
        VALUES (#{aiServiceCd}, #{jobExecUserKey}, #{jobExecStatus}, NOW(), #{jobResult}, #{aiServiceParam}, NOW(), #{createUserKey})
    </insert>

    <!-- AI연동 결과 저장처리 -->
    <update id="setUpdateInterfaceInfo" parameterType="com.gsbizple.wiz.scheduler.dto.common.TblAIJobRealDto">
        /*CommonAiMapper.setUpdateInterfaceInfo*/
        UPDATE batch.tbl_ai_job_batch
        SET job_exec_status = #{jobExecStatus}
          , job_end_dt = NOW()
          , ai_service_result = #{aiServiceResult}
          , job_result = #{jobResult}
        WHERE JOB_ID = #{jobId}
    </update>

</mapper>
