<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EmojiMapper">
    <insert id="insertEmoji" parameterType="com.gsbizple.wiz.messenger.dto.EmojiDto">
        /*EmojiMapper.insertEmoji*/
        INSERT INTO messenger.tbl_emoji (message_id, emoji_type, user_key, user_nm, org_nm, create_dt,
                               modify_dt, delete_yn)
        VALUES (#{messageId}, #{emojiType}, #{userKey}, #{userNm}, #{orgNm}, NOW(),
                NOW(), 'N')
    </insert>

    <update id="updateEmoji" parameterType="com.gsbizple.wiz.messenger.dto.EmojiDto">
        /*EmojiMapper.updateEmoji*/
        update messenger.tbl_emoji
        set emoji_type = #{emojiType},
            modify_dt  = NOW(),
            user_nm    = #{userNm},
            org_nm     = #{orgNm},
            delete_yn  = 'N'
        where message_id = #{messageId}
          and user_key = #{userKey}
    </update>


    <select id="selectEmojiByMessageId" resultType="com.gsbizple.wiz.messenger.dto.EmojiDto"
            parameterType="Long">
        /*EmojiMapper.selectEmojiByMessageId*/
        SELECT *
        FROM messenger.tbl_emoji
        WHERE message_id = #{messageId}
    </select>

    <select id="selectEmojiByMessageIdAndUserKey" resultType="com.gsbizple.wiz.messenger.dto.EmojiDto"
            parameterType="map">
        /*EmojiMapper.selectEmojiByMessageIdAndUserKey*/
        SELECT *
        FROM messenger.tbl_emoji
        WHERE message_id = #{messageId}
            AND user_Key = #{userKey}
    </select>

    <select id="selectEmojiIn" resultType="com.gsbizple.wiz.messenger.dto.EmojiDto"
            parameterType="map">
        /*EmojiMapper.selectEmojiIn*/
        SELECT *
        FROM messenger.tbl_emoji
        WHERE message_id IN
        <foreach item="id" collection="messageIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="deleteEmoji" parameterType="com.gsbizple.wiz.messenger.dto.EmojiDto">
        /*EmojiMapper.deleteEmoji*/
        UPDATE messenger.tbl_emoji
        SET delete_yn = 'Y',
            modify_dt = NOW()
        WHERE message_id = #{messageId}
          AND user_key = #{userKey}
          and emoji_type = #{emojiType}
          AND delete_yn = 'N'
    </update>

    <update id="setEmojiActive" parameterType="Long">
        /*EmojiMapper.setEmojiActive*/
        update messenger.tbl_message
        set emoji_yn = 'Y'
        where message_id = #{messageId}
    </update>

</mapper>